# server config

# oauth
PROJECT_ID=
AUTH_PROVIDER_X509_CERT_URL=
AUTH_URI=
TOKEN_URI=
# web
WEB_CLIENT_ID=
WEB_CLIENT_SECRET=
WEB_REDIRECT_URI=http://localhost:8080

# desktop
DESKTOP_CLIENT_ID=
DESKTOP_CLIENT_SECRET=

# mobile
ANDROID_CLIENT_ID=
IOS_CLIENT_ID=
